body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300025/52848945-healthy-eating-background-studio-photography-of-different-fruits-and-vegetables-on-wooden-table.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}

#logo {
  text-decoration: none;
  float: left;
  width: 200px;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  padding: 20px 0px 7px 15px;
  font-family: 'Dancing Script', cursive;
}

#logoimg {
  display: block;
  background-image: url(logoimg.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 125px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-left: 700px;
  margin-right: 70px;
  margin-top: 15px;
}

.navbar ul {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  
  text-decoration: none;
  color: white;
  /* background-color: orangered; */
  /* border: 1px solid white; */
  display: flex;
  padding: 5px 20px;
  transition: 0.3s ease;
  
}

.navbar ul li a:hover{
  color: #1b8533;
}

.navbar ul li.active a {
  background-color: #1b8533;
  color: white;
  /* box-shadow: 0px 0px 1px #000000; */
}

#form_container {
  
  /* background-color: transparent; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 830px;
  height: 300px;
  /* border: 2px solid green; */
  /* position: fixed; */
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 70px 300px 0px 130px;
  padding: 100px 0px 50px 450px;
  font-size: 20px;
}

.fontsize40 {
  font-size: 30px;
}


#height {
  width: 320px;
  height: 60px;
  font-size: 25px;
  color: gray;
  border: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  border-radius: 5px;
  
  text-align: center;
  transition: 0.2s ease;
  margin-left: 25px;
  margin-top: 90px; 
  font-family: 'Roboto', sans-serif;
}

#weight {
  width: 320px;
  height: 60px;
  font-size: 25px;
  color: gray;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  text-align: center;
  transition: 0.2s ease;
  margin-top: 20px;
  margin-left: 25px;
  font-family: 'Roboto', sans-serif;

}





#bmi_result {
  visibility: hidden;
  display: block;
  bottom: 200px;
  right: 200px;
  position: absolute;
}

#measure {
  visibility: hidden;
  display: block;
  bottom: 100px;
  right: 200px;
  position: absolute;
  font-size: 30px;
  
}

#btn_seeMenu {
  display: block;
  /* text-shadow: 1px 1px 3px #000000; */
  background-image: linear-gradient(#1b8533, #1b8032);
  position: absolute;
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 25px;
  transition: 0.1s ease;
  width: 1280px;
  height: 70px;
  margin: 0px 300px 0 130px;
  border: none;
  cursor: pointer;
  
}

#btn_seeMenu:hover {
  /* background-color: #145723; */
  background-image: linear-gradient(#145723,#145723); 
  
}

#btn_seeMenu, #height, #weight, #submit:focus {outline:0;}

#height:focus, #weight:focus {
  background-color: rgba(0,0,0,0.45);
  color: white;
}


/* @import url(https://fonts.googleapis.com/css?family=Lato); */

#gender_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 100px;
  font-size: 30px;
}
label{
  user-select: none;
}
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  z-index: 10;
  display: block;
  /* margin: 0 10px 10px 0; */
  border-radius: 5px;
  position: relative;
  color: #ced4da;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: all 200ms ease;
}

input[id="female"] + label {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 200px;
}


input[type="radio"]:checked + label {
  /* color: #495057; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  /* border: 2px solid #ced4da; */
}

input[type="radio"]:hover + label {
  /* color: #495057; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  /* border: 2px solid #ced4da; */
}

input[type="radio"] + label {
  padding: 5px 20px;
  /* border-radius: 10px; */
}

#male + label{
  background-color: #2153a3;
}

#female + label{
  background-color: #cf2976;
}

#radiobuttons {
  margin-left: 27px;
}

.fa-ruler-vertical{
  position: absolute;
  left: 490px;
  bottom: 220px;

}

.fa-weight{
  position: absolute;
  left: 490px;
  bottom: 115px;
}

#submit {
  display: block;
  width: 70px;
  height: 30px;
  background-image: linear-gradient(#1b8533, #1b8032);
  border: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;

}

#submit:hover {
  background-image: linear-gradient(#145723,#145723); 
  
}

.measurements {
  position: absolute;
  top: -50px;
  font-size: 30px;
  left: 65px;
  /* margin-bottom: 30px; */
}